#navbar{
    width: 100%;
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    color: rgb(70, 46, 225);
    font-size: 20px;
}
.love{
    display: flex;
}
.love>img{
    margin: 8px 8px 0px 0px;
}
.love>a{
    margin-left: 20px;
    text-decoration: none;
    margin-top: 15px;
}
.btn {
    background-color: #ecb2cf;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 12px 20px;
    padding: 12px;
    cursor: pointer;
  }
  .btn:hover{
    width: 120px;
    background-color: rgb(149, 235, 118);
}
#container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#container>button{
    padding: 10px;
    margin: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 17px;
}
#container>button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
@media only screen and (min-width: 381px) and (max-width: 768px) {
    #container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
 
@media only screen and (min-width: 0px) and (max-width: 380px) {
    #container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
.signup {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Signform_conteiner {
    width: 810px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3bb19b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .left h1 {
    margin-top: 0;
    color: white;
    font-size: 35px;
    align-self: center;
  }
  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .form_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form_conteiner h1 {
    font-size: 40px;
    margin-top: 0;
  }
  input {
    outline: none;
    border: #edf5f3;
    width: 360px;
    padding: 14px;
    border-radius: 10px;
    background-color: #b3dbd1;
    margin: 5px 0;
    font-size: 14px;
  }
    .white_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: white;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .grn_btn{
    background-color: #3bb19b;
    padding: 15px 45px;
    border-radius: 5px;
    border: none;
    margin-top: 9px;
    font-size: 15px;
    color: white;
  }
  .login_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login_form_container {
    width: 850px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  .rightt {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3bb19b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .rightt h1 {
    margin-top: 0;
    color: white;
    font-size: 40px;
    align-self: center;
  }
  .leftt {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
.singleDog{
display: grid;
grid-template-columns: repeat(3,33%);
margin-top: 5px;
gap: 8px;
}
.singleDog>div{
margin: 8px;
}
.singleDog>div>img:hover{
  transform: scale(1.05);
}